<div class="container">
    <h1 class="display-3">Reset password</h1>
    <form action="/account/change-password" method="post">
        <div class="form-group">
            <div>enter your existing password and new Password</div>
        </div>

        <div class="form-group">
            {{ username }}
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="old-password" placeholder="Old Password">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="new-password" placeholder="new Password">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="retype-password" placeholder="retype new Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update my password</button>
        </div>
    </form>
</div>