<div class="container">
    <h1 class="display-3">Forgot password</h1>
    <form action="/forgot-password" method="post">
        <div class="form-group">
            <div>enter your username to receive password recovery link</div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="User Name">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">email me recover link</button>
        </div>
    </form>
</div>