<div class="container">
    <h1 class="display-3">Forgot password</h1>
    <div class="form-group">
        <div>The reset password email sent.</div>
    </div>

    <div class="form-group">
        <a href="/" class="btn btn-primary">back to home</a>
    </div>
</div>