<div class="container">
    <h1 class="display-4">Welcome</h1>
    This is Sign-up flow!!
</div>
<div class="container mt-3">
    {% render 'card-signup' %}
</div>
<div class="container mt-3">
    {% render 'card-login', title: 'Sign In' %}
</div>

<div class="container">
    We use cookies to provide our services and for analytics and marketing. To find out more about our use of cookies, please see our Privacy Policy. By continuing to browse our website, you agree to our use of cookies.
    <a href="/accept_cookie">OK</a>
</div>