<div class="container">
    <h1 class="display-3">Email Activated</h1>
    <div>Your email <strong>{{ email }}</strong> verified.</div>
    <a href="/account" class="btn btn-primary">Back to Account Home</a>
</div>