<div class="container">
    <h1 class="display-3">Dashboard</h1>
    <div>This is your dashboard!</div>
</div>

<div class="container">
{% if activated != true %}
    Your account is not activated
{% else %}
    Your account is activated
{% endif %}
</div>
