<div class="container">
    <h1 class="display-3">Resend Success</h1>
    <div>verification email sent.</div>
    <div>please check after 5 minutes and make sure the email is not in junk box</div>
    <a href="/account" class="btn btn-primary">Back to Account Home</a>
</div>