<div class="card">
    <h3 class="card-header">{{ title | default: "Sign In Required" }}</h3>
    <form class="card-body" action="/login" method="post">
        <input type="hidden" name="destination" value="{{destination}}" />
        <div class="form-group">
            <div class="login-form-message">
                {{message}}
            </div>
        </div>

        <div class="form-group">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="username" placeholder="User Name" required/>
                </div>
                <div class="col">
                    <input type="password" class="form-control" name="password" placeholder="Password" required/>
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <a href="/forgot-username" class="btn btn-link">Forgot User Name</a>
            <a href="/forgot-password" class="btn btn-link">Forgot Password</a>
            <button class="btn btn-primary" type="submit">Sign In</button>
        </div>
        <hr>
        <div>Sign In with Google, facebook, twitter or apple</div>
        <div>v0.45</div>
    </form>
</div>